$primary-color: #1d3557;
$error-color: #e63946;
$bg-color: #251c78;
$text-color: #293241;
$color-white: #fff;
$border-radius: 4px;


.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background: rgb(15, 9, 74);
}
